<h2><%= customer.full_name %></h2>
image_tag(<%= customer.image %>)
<p>
  <strong>Email:</strong>
  <%= customer.email %>
</p>
<p>
  <strong>Phone:</strong>
  <%= customer.phone_number %>
</p>
<p>
  <strong>Additional Notes:</strong>
  <%= customer.notes %>
</p>
